<html>
    <body>
        <h1>
            Welcome to <%=title%>  <!-- <%: lets the rendering engine know that is where we do dynamic code.. the equals just returns back the variable -title- or whatever value is in that -->     
        </h1>
    </body>
</html>

