<!-- <%: lets the rendering engine know that is where we do dynamic code.. the equals just returns back the variable -title- or whatever value is in that -->   
<html>
    <body>
        <h1>
        <title> Welcome to your mom</title>
        </h1>
    </body>
</html>

